body{
    background-image: url(https://i.pinimg.com/originals/65/03/8b/65038b49602a89d9865147e8941ff482.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.Logo {
    width: 25px;
    margin-right: 10px;
}
li {
    display: flex;
    align-items: center;
  }